// Sizes
$view-port: 1170px;
$nav-height: 210px;

// Colors
$orange:#fc6f4e;
$blue: #4eb2f7;
$violet: #c049f8;
$dark-blue: #817eff;
$pink: #f74770;
$menu-color: #706b73;
$text-color: #6b6b6b;
$dark-text-color: #494949;
$main-bg-color: #f5f5f5;

