@import "partials/params";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "../../node_modules/font-awesome/scss/font-awesome";

html, body {
  @include clear();
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  @include clear();
}

a {
  text-decoration: none;
}

.view-port {
  max-width: $view-port;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  h1 {
    font-size: 50px;
    line-height: 60px;
  }
  p{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
  }
}

.first-letter {
  color: $orange;
}

.grey-block {
  background-color: $main-bg-color;
}
.white-block {
  background-color: #fff;
}